body {
    background: #ffffff;
    color: #000000;
    font-family: Trebuchet MS, Arial, Times New Roman;
    font-size: 12px;
}
.block1{
	position: relative;
	width: 100px;
	height: 100px;
	background: rgb(255, 0, 0);
	z-index: 1;
	border: 1px solid #555;
}
.block2{
	position: relative;
	width: 100px;
	height: 100px;
	background: #76EE00;
	margin: -70px 0px 0px 30px;
	z-index: 2;
	border: 1px solid #555;
}
.block3{
	position: relative;
	width: 100px;
	height: 100px;
	background: rgb(0, 13, 129);
	margin: -70px 0px 0px 60px;
	z-index: 1;
    border: 1px solid #555;
}